.DS_Store
/.logo
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.EXAMPLE
.netlify
.vercel
.output
/dev-dist
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
test-results.json
/storybook-static
/src-tauri/target
/src-tauri/WixTools
/src-tauri/Cargo.lock
/playwright-report
/coverage

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
