.DS_Store
/.logo
node_modules
/build
/.svelte-kit
/package
/static/vendor
.env
.env.*
!.env.EXAMPLE
.netlify
.vercel
.output
/dev-dist
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.types
log.*
*.log
test-results.json
/storybook-static
/src-tauri/target
/src-tauri/WixTools
/src-tauri/Cargo.lock
/playwright-report
/coverage
