node_modules

# Output
.output
.netlify
.vercel
/.svelte-kit
/build
/package
/static/vendor
/dev-dist

# OS
.DS_Store
Thumbs.db

/.logo

# Env
.env
.env.*
!.env.EXAMPLE

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Generated
.logs/
.types
log.*
*.log
*.nogit.*
*.local
/test-results
test-results.json
/storybook-static
/src-tauri/target
/src-tauri/WixTools
/src-tauri/Cargo.lock
/playwright-report
/coverage
*.sqlite
