.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.EXAMPLE
/dev-dist
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
test-results.json
/playwright-report
/coverage

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore package.json, so our scripts will stay aligned.
package.json
