node_modules

# Output
.output
.netlify
.vercel
/.svelte-kit
/build
/package
/static/vendor
/dev-dist

# OS
.DS_Store
Thumbs.db

/.logo

# Env
.env
.env.*
!.env.EXAMPLE

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Generated
.types
log.*
*.log
*.nogit.*
test-results.json
/storybook-static
/src-tauri/target
/src-tauri/WixTools
/src-tauri/Cargo.lock
/playwright-report
/coverage
/android
/ios

# Package Managers
# Ignore files for PNPM, NPM and YARN
package-lock.json
pnpm-lock.yaml
yarn.lock
/patches

# Ignore package.json, so our scripts will stay aligned.
package.json
