[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS="--version"
[build]
  command = "pnpm run build:only-sw"
  publish = "build"

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"
