@import '@fontsource/fira-mono';
@import '@fontsource/roboto';

:root {
  --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --color-bg-0: #cad8e4; /* rgb(202, 216, 228); */
  --color-bg-1: #cedce8; /* hsl(209, 36%, 86%); */
  --color-bg-2: #edf0f8; /* hsl(224, 44%, 95%); */
  --color-success: #6bcc87;
  --color-danger: #bc6054;
  --color-warning: #dbae59;
  --color-theme-1: #ff3e00;
  --color-theme-2: #40b3ff;
  --color-text: rgba(0, 0, 0, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

:root[color-scheme='dark'] {
  /* Dark Theme */
  --color-bg-0: #15202b;
  --color-bg-1: #192734;
  --color-bg-2: #22303c;
  --color-success: #6bb187;
  --color-danger: #ac3e31;
  --color-warning: #c9922c;
  --color-theme-1: #ff3e00;
  --color-theme-2: #40b3ff;
  --color-text: rgba(255, 255, 255, 0.7);
  --color-text-2: #8899a6;
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg-1);
  background-size: 100vw 100vh;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

:root[color-scheme='dark'] body {
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-theme-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toast styling */
._toastContainer {
  --toastContainerTop: 5rem; /* Adjust top to be positioned under AppBar */
}
.toast-info {
  --toastColor: var(--color-text);
  --toastBackground: var(--color-bg-2);
  --toastBarBackground: var(--color-text);
}
.toast-success {
  --toastColor: var(--color-text);
  --toastBackground: var(--color-theme-2);
  --toastBarBackground: var(--color-text);
}
.toast-error {
  --toastColor: var(--color-text);
  --toastBackground: var(--color-danger);
  --toastBarBackground: var(--color-text);
}
.toast-warning {
  --toastColor: var(--color-text);
  --toastBackground: var(--color-warning);
  --toastBarBackground: var(--color-text);
}
