name: Svelte Check on pull requests
on: pull_request
jobs:
  type-check:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout repo and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Build app
        run: pnpm build:only

      - name: Run Svelte Check
        run: pnpm check
        working-directory: '.'
